<%= form_for(@admin_info) do |f| %>
  <% if @admin_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_info.errors.count, "error") %> prohibited this admin_info from being saved:</h2>

      <ul>
      <% @admin_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "标题" %><br>
    <%= f.text_field :title %>
  </div>
  <%= label_tag "内容" %>
  <%= f.cktext_area :content,:ckeditor => {:uiColor => '#34495E', :toolbar => 'full'} %>
  <br/>
  <div class="actions">
    <%= f.submit '确认' %>
  </div>
<% end %>
