<%= javascript_include_tag 'home/about', 'data-turbolinks-track' => true %>
<div class="options">
  <ul class="nav">
    <li>
      <div class="option btn btn-info"  value="0">
        <%= @info.title %>
      </div>
    </li>
    <li>
      <div class="option btn btn-info"  value="1">
        <%= @culture.title %>
      </div>
    </li>
  </ul>
</div>
<div class="oppt">
  <div class="banner-outer">
    <div class="banner_about">
        <ul>
          <li>
            <div class="">
              <%= raw @info.content %>
            </div>
          </li>
          <li>
            <div class="">
              <%= raw @culture.content %>
            </div>
          </li>
        </ul>
    </div>
  </div>
</div>
