<p id="notice"><%= notice %></p>

<h1>留言</h1>

<table class="table" >
  <thead>
    <tr>
      <th>联系方式</th>
      <th>内容</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_messages.each do |admin_message| %>
      <tr>
        <td><%= admin_message.contact %></td>
        <td><%= admin_message.content %></td>
        <td><%= link_to 'Show', admin_message %></td>
        <td><%= link_to 'Edit', edit_admin_message_path(admin_message) %></td>
        <td><%= link_to 'Destroy', admin_message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Message', new_admin_message_path %>
