<%= javascript_include_tag 'home/product', 'data-turbolinks-track' => true %>
<div class="options">
  <ul class="nav">

  <% count = 0 %>
  <% @categories.each do |c| %>
    <li>
      <div class="option btn btn-info"  value=<%= count %>>
        <%= c.name %>
      </div>
      <% count+=1 %>
    </li>
  <% end %>

  </ul>
</div>
<div class="oppt">
  <div class="banner-outer">
    <div class="banner_product">
        <ul>
          <% @categories.each do |c| %>
            <li>
              <% c.products.each do |p| %>
              <div class="item">
                <div class="img">
                  <a href=<%= "/home/product/#{p.id}/show" %> target="_blank">
                    <%= image_tag p.avatar_url(:large) %>
                  </a>
                </div>
                <div class="title">
                  <%= p.name %>
                </div>
              </div>
              <% end %>
            </li>
          <% end %>
        </ul>
    </div>
  </div>
</div>
