<%= form_for(@admin_information) do |f| %>

  <div class="field">
    <%= f.label "标题" %><br>
    <%= f.text_field :title %>
  </div>
  <%= label_tag "内容" %>
  <%= f.cktext_area :content,:ckeditor => {:uiColor => '#34495E', :toolbar => 'full'} %>
  <br/>
  <div class="actions">
    <%= f.submit '确定' %>
  </div>
<% end %>
