<p id="notice"><%= notice %></p>

<p>
  <strong>名称:</strong>
  <%= @admin_product.name %>
</p>

<p>
  <strong>图片:</strong><br>
  <%= image_tag @admin_product.avatar_url(:large) if @admin_product.avatar %>
</p>

<p>
  <strong>分类:</strong>
  <%= @admin_product.category.name %>
</p>

<p>
  <strong>简介:</strong>
  <%= @admin_product.describe %>
</p>


<%= link_to '编辑', edit_admin_product_path(@admin_product) %> |
<%= link_to '返回', admin_products_path %>
