<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_product.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @admin_product.category %>
</p>

<p>
  <strong>Abstract:</strong>
  <%= @admin_product.describe %>
</p>

<p>
  <strong>Img:</strong>
  <%= @admin_product.img_url %>
</p>

<%= link_to 'Edit', edit_admin_product_path(@admin_product) %> |
<%= link_to 'Back', admin_products_path %>
